<!DOCTYPE html>

{% set page_title = _("Become a Seller") %}
{% set page_class = "" %}
{% set meta_data = {"description": "",
                    "keywords": "",
                    "creator": "Snozberry Media",
                    }
%}

<html lang="{{lang}}" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/Article">
  <head>
    {% include "_parts/head.html" %}
    <link href="/assets/css/be-a-seller.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    {% include "_parts/top-navigation.html" %}

    <div class="seller-banner hidden-xs">
      <div class="about-seller-banner">
        <div class="container about-banner-wrapper">
          <div class="">
            <div class="col-lg-6">
              <img src="/assets/images/social/devices.png" class="img-responsive">
            </div>
            <div class="col-lg-6">
              <h1>Delight Your Divers With An Awesome Booking Inspiration</h1>
              <p>Marketplace is a global dive marketplace that helps providers market their dive offerings to customers worldwide.</p>
              <button class="btn btn-lg btn-primary" type="button">List Your Photo Services For FREE!</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="seller-banner-sm visible-xs">
      <div class="about-seller-banner">
        <div class="container about-banner-wrapper">
          <div class="">
            <div class="col-lg-6">
              <img src="/assets/images/social/devices.png" class="img-responsive">
            </div>
            <div class="col-lg-6">
              <h1>Delight your customers with awesome inspiration</h1>
              <p>Marketplace helps you market your offerings and travel inspirations to millions of customers worldwide.</p>
              <button class="btn btn-lg btn-primary" type="button">Join Marketplace For FREE!</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="blue_strip">
      <h1>Promoting your dive trips on Marketplace is free and easy.</h1>
    </div>

    <div class="container benefits-section"><!--start-->
      <div class="">
        <div class="features">
          <div class="col-sm-6 col-md-4 feature">
            <div class="schedule">
            </div>
            <h3 class="center short">Greater Brand Exposure</h3>
            <p class="center nomargin-bottom">Whether you're an independent operation or a chain provider, Marketplace provides you with the opportunity to reach more clients.</p>
            <div class="visible-xs feature-divider"></div>
          </div>          
          <div class="col-sm-6 col-md-4 feature">
            <div class="sales">
            </div>
            <h3 class="center short">Earn</h3>    
            <p class="center nomargin-bottom">List your dive offerings and we'll promote it to bring you more sales. Once a booking is received we'll send you the reservation and payment. Simple.Easy.</p>
            <div class="visible-xs feature-divider"></div>
          </div>         
          <div class="col-sm-6 col-md-4 feature">
            <div class="promotion">
            </div>
            <h3 class="center short">Free to Use</h3>
            <p class="center nomargin-bottom"> Upload all of your dive inspirations to Marketplace and the only fee you pay is the commission on successful bookings.</p>
            <div class="visible-xs feature-divider"></div>
            <button class="btn btn-lg btn-primary" type="button">List Your Photo Services</button>
          </div>         
          <div class="col-sm-6 col-md-3 feature">
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="jumbotron jumbotron-container why-become-a-seller">
        <h1 class="center-header">Why become a Marketplace Seller?</h1>
        <hr>
        <div class="row seller-list">
          <div class="col-lg-6">
            <h2>Connect With Great People</h2>
            <p>We are good old fashioned dive fanatics, and so are our clients. We appreciate the value of a great dive inspiration and connect with people of the same mentality. By engaging in Marketplace's dive community, dive operators are able to reach beyond the typically narrow communication models of one to one, to a global mass where time spent goes farther by connecting one to many. </p>
          </div>
          <div class="col-lg-6">
            <h2>Share With The World</h2>
            <p>There are just so many great dive spots around the globe, ranging from the grand and glorious, to rare and unusual. Unfortunately it can be an arduous task for users uncovering these great spots or the right dive Offerings provider. By listing your dive offerings on Marketplace you promote awareness and fuel dive inspiration within a global community. No one knows the power that your dive inspiration imparts better than you, so share and educate others about it.
          </div>
        </div>
        <div class="row seller-list">
          <div class="col-lg-6">
            <h2>Global Reach</h2>
            <p> We support the proliferation of great dive inspirations across the globe. This ambition in turn has fueled an extensive collection of dive inspirations, inspriation and reviews drawing the attentions of countless divers from around the globe, waiting to uncover their next dive trip, near or far. </p>
          </div>
          <div class="col-lg-6">
            <h2>Easy-To-Use Platform</h2>
            <p>Marketplace simplifies the dive booking process, not only for divers, but for operators as well. Suppliers can directly upload Offerings details, availabilities, pricing, and any other additional information often needed for unqiue dives. Answer questions and easily manage bookings through our platform with direct messaging and secure payment capabilities. </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="jumbotron jumbotron-container why-become-a-seller">
        <h1 class="center-header">Testimonials</h1>
        <hr>
        <div class="seller-testimonials clearfix">
          <div class="col-lg-4">
            <img src="/assets/images/testimonials/1.jpg" class="img-circle">
            <h4>Drew Arellano</h4>
            <h5><i class="icon-map-marker"></i> Manila, Philippines</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
          </div>
          <div class="col-lg-4">
            <img src="/assets/images/testimonials/2.jpg" class="img-circle">
            <h4>Iya Villana</h4>
            <h5><i class="icon-map-marker"></i> Phuket, Thailand</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
          </div>
          <div class="col-lg-4">
            <img src="/assets/images/testimonials/3.jpg" class="img-circle">
            <h4>Xian Lim</h4>
            <h5><i class="icon-map-marker"></i> Tokyo, Japan</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
          </div>
        </div>
      </div>
    </div>

    {% include "_parts/footer-locale-settings.html" %}
    {% include "_parts/footer.html" %}
    {% include "_parts/post-js.html" %}
  
  </body>
</html>
