<!DOCTYPE html>

{% set page_title = "" %}
{% set page_class = "" %}
{% set meta_data = {"description": "",
                    "keywords": '',
                    "creator": "Snozberry Media",
                    }
%}

<html lang="{{lang}}" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {% include "_parts/head.html" %}
    <link href="/assets/css/dashboard.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/my-bookings.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    {% include "_parts/top-navigation.html" %}

    <div class="dashboard-wrapper"><!--start-->
      <div class="navtabs-main visible-lg visible-md visible-sm hidden-xs">
        <div class="tabbable">
          <div class="container">
            <ul class="nav nav-tabs">
              <li class=""><a href="seller-only-edit-profile.html">My Profile</a></li>
              <li class=""><a href="seller-only-my-offerings.html">My Offerings</a></li>
              <li class="active"><a href="seller-only-booking-cancel.html">My Bookings</a></li>
              <li class=""><a href="seller-only-message.html">Message</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="alert alert-info hidden-lg hidden-md hidden-sm visible-xs navtabs-main-bg">
        <div class="container navtabs-main-sm">
          <form name="menuform">
          <select name="menu2" onchange="top.location.href = this.form.menu2.options[this.form.menu2.selectedIndex].value;return false;" class="form-control">
            <option value="seller-only-edit-profile.html">My Profile</option>
            <option value="seller-only-my-offerings.html">My Offerings</option>
            <option value="seller-only-booking-cancel.html" selected>My Bookings</option>
            <option value="seller-only-message.html">Message</option>
          </select>
          </form>
        </div>
      </div>

      <div class="tab-content">

        <div class="tab-pane" id="tab1">
        </div>

        <div class="tab-pane" id="tab2">
        </div>

        <!-- Pawel, note that we might want to use this same confirmation page for other status changes -->

        <div class="tab-pane active" id="tab3">
           <div class="container panel-container">
            <div class="col-lg-1 hidden-sm hidden-xs"></div>
            <div class="col-lg-10 request-refund-form">
              <h1><i class="icon-exclamation-sign"></i> Payment for Booking</h1>
              <hr>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br><strong>As you are within 24 hours of the booking, you will not be refunded for your Offerings.</strong></p>
              <div class="form-actions-wrapper cancel-booking">
                <a href="seller-only-booking-cancel-success.html"><button class="btn btn-danger" type="button">Pay Now $XX.YY</button></a>
                <a href="#"><button class="btn btn-default" type="button">Cancel</button></a>
              </div>
            </div>
            <div class="col-lg-1 hidden-sm hidden-xs"></div>
          </div>
        </div><!--tab pane 2-->

        <div class="tab-pane" id="tab4">
        </div>
        
      </div><!--tab-content-->
    </div><!--dashboard wrapper-->

    {% include "_parts/footer-locale-settings.html" %}
    {% include "_parts/footer.html" %}
    {% include "_parts/post-js.html" %}

  </body>
</html>