<!DOCTYPE html>

{% set page_title = _("Administration") %}
{% set page_class = "" %}
{% set meta_data = {"description": "",
                    "keywords": "",
                    "creator": "Snozberry Media",
                    }
%}

<html lang="{{lang}}" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {% include "_parts/head.html" %}
    <link href="/assets/css/dashboard.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/admin.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    {% include "_parts/top-navigation.html" %}

    <div class="dashboard-wrapper">
      {% set admin_top_nav_elem = 'languages' %}
      {% include "_parts/admin-top-nav.html %}

      <div class="tab-content">
        <div class="tab-pane" id="tab1">
        </div>

        <div class="tab-pane" id="tab2">
        </div>
      </div>

      <form method="post">
        <div class="container panel-container">
          <div class="heading-wrapper">
            <h1>Add Marketplace support to new languages</h1>
            <hr>
            <p>
              You may add one or several languages at once.
              If added, translation process will begin in the background and language will became available.
              I expect JSON format.
            </p>
            {% if error == 'JSON' %}
              <font color="#ee2222">
                <label>Use correct JSON format!</label>
              </font>
            {% end %}
            <textarea class="form-control textarea-3" rows="6" name="languages_dict" placeholder='Example:  { "fr": "French", "pl": "Polish" }' {% if error == 'JSON' %} style="border-color:#ee2222" {% end %}>{% if lang_dict %}{{lang_dict}}{% end %}</textarea>
          </div>
          <hr>
          <p class="form-action-button">
            <button type="submit" class="btn btn-primary" name="action" value="submit">Continue</button>
          </p>
        </div>
      </form>

    </div><!--dashboard wrapper-->

    {% include "_parts/footer-locale-settings.html" %}
    {% include "_parts/footer.html" %}
    {% include "_parts/post-js.html" %}

  </body>
</html>