<!DOCTYPE html>

{% set page_title = _("Reset your password") %}
{% set page_class = "" %}
{% set meta_data = {"description": "",
                    "keywords": "",
                    "creator": "Snozberry Media",
                    }
%}

<html lang="{{lang}}" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {% include "_parts/head.html" %}
    <link href="/assets/css/login.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    {% include "_parts/top-navigation.html" %}

    <div class="container login-wrapper">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 jumbotron jumbotron-container login-container">
        <div class="login-form">
          {% if errs is None and password_successful_reset %}
          <div class="page-header">
            <h1>{{_("Your Password was updated.")}}</h1>
          </div>
          {% elif password_set %}
          <div class="page-header">
            <h1>{{_("Update your Password")}}</h1>
          </div>
          <form role="form" method="post">
            {% if recovery %}
            <input type="hidden" name="hash" value="{{hash}}"/>
            <input type="hidden" name="uset" value="{{user}}"/>
            {% else %}
            <div class="form-group">
              {% if errs == 'old password' %}
              <label for="password">{{_("Current Password You entered is not correct")}}</label>
              {% else %}
              <label for="password">{{_("Current Password")}}</label>
              {% end %}
              <input type="password" class="form-control" name="current_password" id="current_password" placeholder="">
            </div>
            {% end %}
            <div class="form-group">
              {% if errs == 'password' %}
              <label for="password">{{_("New Password has to be at least 8 characters long")}}</label>
              {% else %}
              <label for="password">{{_("New Password")}}</label>
              {% end %}
              <input type="password" class="form-control" name="password" id="password" placeholder="">
            </div>
            <div class="form-group">
              {% if errs == 'password confirm' %}
              <label for="password_confirmation">{{_("The Passwords you entered do not match")}}</label>
              {% else %}
              <label for="password_confirmation">{{_("Re-type Password")}}</label>
              {% end %}
              <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" placeholder="">
            </div>
            <button type="submit" class="btn btn-primary btn-block" name="action" value="reset_password">{{_("Update Password")}}</button>
          </form>
          {% else %}
          <div class="page-header">
            <h1>{{_("You do not have any password set. In order to set one, go to")}} <a href="{{__url_list__('Login')}}">{{_("Login")}}</a> {{_("and")}} {{_("set Your Username, Email and Password")}}.</h1>
          </div>
          {% end %}
        </div>
      </div>
      <div class="col-lg-2"></div>
    </div>

    {% include "_parts/footer-locale-settings.html" %}
    {% include "_parts/footer.html" %}
    {% include "_parts/post-js.html" %}
    
  </body>
</html>
