<!DOCTYPE html>

{% set page_title = _("Forgot your password?") %}
{% set page_class = "" %}
{% set meta_data = {"description": "",
                    "keywords": "",
                    "creator": "Snozberry Media",
                    }
%}

<html lang="{{lang}}" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {% include "_parts/head.html" %}
    <link href="/assets/css/login.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    {% include "_parts/top-navigation.html" %}

    <div class="container login-wrapper">

      <div class="">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 jumbotron jumbotron-container login-container">
          <div class="login-form">
            <div class="page-header">
              <h1>{{_("Forgot your password?")}}</h1>
            </div>
            <form role="form" method="post">
              <div class="form-group">
                {% if errs == 'pass not set' %}
                <label for="email">{{_("You do not have any password set. In order to set one, go to")}} <a href="{{__url_list__('Login')}}">{{_("Login")}}</a></label>
                {% elif errs == 'user unknown' %}
                <label for="email">{{_("Email / Username you entered does not exist with our system. Try again.")}}</label>
                {% elif errs == 'mail sent' %}
                <label for="email">{{_("Password recovery mail was being sent to Your mailbox. Please follow its instructions.")}}</label>
                {% elif errs == 'link corrupted' %}
                <label for="email">{{_("Password recovery link is either corrupted or not valid anymore")}}</label>
                {% else %}
                <label for="email">{{_("Email / Username")}}</label>
                {% end %}
                {% if errs != 'mail sent' %}
                <input type="text" class="form-control" id="email" name="email_or_username" placeholder="Enter email">
                {% end %}
              </div>
              {% if errs != 'mail sent' %}
              <button type="submit" class="btn btn-primary btn-block" name="action" value="forgot_password">{{_("Reset Password")}}</button>
              {% end %}
            </form>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>

    </div>

    {% include "_parts/footer-locale-settings.html" %}
    {% include "_parts/footer.html" %}
    {% include "_parts/post-js.html" %}
    
  </body>
</html>
