<!DOCTYPE html>

{% set page_title = _("Transactions") %}
{% set page_class = "" %}
{% set meta_data = {"description": "",
                    "keywords": "",
                    "creator": "Snozberry Media",
                    }
%}

<html lang="{{lang}}" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {% include "_parts/head.html" %}
    <link href="/assets/css/dashboard.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/my-bookings.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
  </head>

  <body>
    {% include "_parts/top-navigation.html" %}

    <div class="dashboard-wrapper"><!--start-->

      {% set dashboard_top_nav_elem = 'transactions' %}
      {% include "_parts/dashboard-top-nav.html %}

      <div class="tab-content">

        <div class="tab-pane active" id="tab{% if __seller_or_applicant__ %}6{% else %}5{% end %}">

          <div class="container panel-container">

            {% if 'receipt_sent' in alerts2show %}
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">×</button>
              The Receipt you have requested was just sent to Your email address.
            </div>
            {% end %}

            {% if iAmSeller %}
            <div class="row">
              <div class="col-md-4">
                <h3>Lifetime Earnings <span class="label label-info">{{transactions_summary['earnings']}}</span></h3>
              </div>
              <div class="col-md-4">
                <h3>Earnings to be paid <span class="label label-info">{{transactions_summary['waiting']}}</span></h3>
              </div>
              {% if 0 %} <!--TODO Paul: either decide how to calculate it or remove it-->
              <div class="col-md-4">
                <h3>Next payment <span class="label label-info">5 days from now</span></h3>
              </div>
              {% end %}
            </div>
            {% end %}

            {% if not items %}
              <p class="lead" style="margin-top: 20px;">You have no past transactions to report.</p>
            {% else %}

              <!-- TODO in table below, status green means paid (in both guest and seller cases), orange means pending (until 48 hours after booking, sellers see pending, but guests only see pending if refund is in process), red means cancelled or refunded so that no money is transferred as part of the booking -->
              <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>{% if iAmClient %}Seller {% end %}{% if iAmClient and iAmSeller %}or {% end %}{% if iAmSeller %}Guest {% end %}Name</th>
                    <th>Offering</th>
                    <th><a href="?sort=date{%if snd=='date'%}&desc=no{%end%}">
                      <span>Date{%if sort=='date'%} <i class="icon-sort-by-attributes{%if desc%}-alt{%end%}"></i>{%end%}</span>
                    </a></th>
                    <th class="hidden-sm hidden-xs"><a href="?sort=price{%if snd=='price'%}&desc=no{%end%}">
                      <span>Price{%if sort=='price'%} <i class="icon-sort-by-attributes{%if desc%}-alt{%end%}"></i>{%end%}</span>
                    </a></th>
                    <th class="hidden-sm hidden-xs"><a href="?sort=status{%if snd=='status'%}&desc=no{%end%}">
                      <span>Status{%if sort=='status'%} <i class="icon-sort-by-attributes{%if desc%}-alt{%end%}"></i>{%end%}</span>
                    </a></th>
                    <th></th>
                    <th class="visible-sm visible-xs"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in items %}
                  <tr>
                    <td>{{item['seller_or_client_name']}}</td>
                    <td>{{item['offering_title']}}</td>
                    <td>{{item['transaction']['date_time']}} </td>
                    <td class="hidden-sm hidden-xs">{{item['transaction']['price']}}</td>
                    <td><span class="btn btn-{{item['booking']['status_label']}} btn-xs"><i class="icon-{% if item['booking']['status_label']=='danger' %}flag{% elif item['booking']['status_label']=='warning' %}time{% else %}ok{% end %} icon-white"></i></span></td>
                    <td><a href="{{__url_list__('Booking', item['booking']['id'])}}"><button class="btn btn-primary btn-xs hidden-sm hidden-xs" type="button">View Booking</button><button class="btn btn-xs btn-primary visible-sm visible-xs" type="button"><i class="icon-chevron-right"></i></button></a></td>
                    <td>
                      <form method="POST">
                        <button class="btn btn-primary btn-xs hidden-sm hidden-xs" type="submit" name="action" value="receipt|{{item['booking']['id']}}|{{item['transaction']['transaction_id']}}">Email Receipt</button>
                        <button class="btn btn-xs btn-primary visible-sm visible-xs" type="submit" name="action" value="receipt|{{item['booking']['id']}}|{{item['transaction']['transaction_id']}}"><i class="icon-chevron-right"></i></button>
                      </form>
                    </td>
                  </tr>
                  {% end %}
                </tbody>
              </table>
              </div>

              <div id="monitor" class="panel panel-default tab-box">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-signal"></i>
                        Transactions report
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="transactions-chart-tab" class="tab-pane active">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 chart">
                                    <div class="caption">
                                        Transactions Chart
                                        <span class="label label-default">Value</span>
                                    </div>
                                    <div id="transaction-values"></div>
                                    <div class="legend">
                                        <span id="value" class="label">Value</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

              {% include _parts/pagination.html %}

            {% end %}
          </div>
        </div>

      </div><!--tab-content-->
    </div><!--dashboard wrapper-->

    {% include "_parts/footer-locale-settings.html" %}
    {% include "_parts/footer.html" %}
    {% include "_parts/post-js.html" %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script>
      $(document).ready(function(){
        var transactions_data = [
          {% for e in chart_data %}
          {"value": {{e['value']}}, "date": "{{e['date']}}"},
          {% end %}
        ];
        Morris.Line({
          element: 'transaction-values',
          hideHover: 'auto',
          data: transactions_data,
          xkey: 'date',
          xLabels: 'day',
          ykeys: ['value'],
          postUnits: ' {{chart_currency}}',
          labels: ['Value'],
          resize: true,
          lineColors: ['#A52A2A']
        });
      });
    </script>

  </body>
</html>