<!DOCTYPE html>

{% set page_title = _("Edit Offering") %}
{% set page_class = "" %}
{% set meta_data = {"description": "",
                    "keywords": "",
                    "creator": "Snozberry Media",
                    }
%}

<html lang="{{lang}}" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {% include "_parts/head.html" %}
    <link href="/assets/css/dashboard.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/seller-apply.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/jasny-bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <link href="/assets/css/jquery-ui-timepicker-addon.css" type="text/css">
    <link href="/assets/css/inspiration-new.css" rel="stylesheet" type="text/css" />
    {% if __rich_front_end__ %} <link href="/assets/css/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css"/> {% end %}
    {% if __rich_front_end__ %} <link href="/assets/css/mobiscroll.custom-2.13.0.min.css" rel="stylesheet" type="text/css" /> {% end %}
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery-gmaps-latlon-picker.css"/>

    {% set temp_counter = 0 %}
    {% set temp_eol = '' %}
    {% set temp_start_date = '' %}
    {% set temp_stop_date = '' %}
    {% set temp_start_time = '' %}
    {% set temp_stop_time = '' %}
    {% set temp_week_days = '' %}
    {% set temp_duration = '' %}
    {% set temp_code = '' %}
    {% set temp_discount = '' %}
    {% set temp_addon_detail = '' %}
    {% set temp_addon_price = '' %}
  </head>

  <body>
    {% include "_parts/top-navigation.html" %}

    {% if 0 %} !!!!!!!!
      if offering_id is defined then we are using this template for editing an existing Offerings; otherwise we are creating new one
    {% end %}

    <div class="hidden-sm hidden-xs">
      <div class="{% if offering_id %}edit-offering{% else %}apply-seller-banner{% end %}">
        <h1>{% if offering_id %}Edit Your Offering{% else %}{{_("Apply to be a Seller")}}{% end %}</h1>
      </div>
    </div>

    {% if offering_id %}
    <div class="visible-sm visible-xs banner-offerings-sm">
      <h1>Edit Offering</h1>
    </div>
    {% else %}
    <div class="visible-sm visible-xs banner-offerings-sm">
      <h1>{{_("Apply to be a Seller")}}</h1>
    </div>
    {% end %}

    <div class="container apply-seller-container"><!--start-->

      <!-- todo, alert on successful submission
      TODO PAUL: Not here, but on offering.html I guess...
      <div class="alert alert-success" style="margin-top: 30px;">
        <button type="button" class="close" data-dismiss="alert">×</button>
        Someone from our team will confirm your status within 24 hours via your preferred communications method selected.
      </div>
      -->

      <div class="">
        <!--
        <div class="breadcrumb-style">
          <ol class="breadcrumb all-breadcrumb-style">
            <li><a href="{{__url_list__('Main')}}">Home</a></li>
            {% if offering_id %}
            <li class="active">Edit Offering</li>
            {% else %}
            <li><a href="{{__url_list__('Inspiration', insp['url_id'])}}">{{insp['title']}}</a></li>
            <li class="active">{{_("Apply to be a Seller")}}</li>
            {% end %}
          </ol>
        </div>
        -->

        <div class="heading-wrapper">
          <p>A Offering is your specific plan for capturing a set of photos or videos - nearby or including the inspiration. This is where you as a Seller describe your services, when you're able to perform them, how much they cost and so on. Be sure to use the photo and video uploads to showcase yourself and your Offerings. Once your Offering has been approved by our concierge desk, you'll be presented on the site.
          </p>
        </div>

        <div class="col-md-4 col-lg-3">
          <div class="container offerings-container offerings-container-sm">
            <div class="row offerings">
              <div class="">
                <a href="{{__url_list__('Inspiration', insp['url_id'])}}" class="thumbnail inspiration_ref" style="background-image: url({{insp['photo']}});">
                  <div class="caption">
                    <h2>{{insp['title']}}</h2>
                    <h3>{{insp['locationName']}}</h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <form role="form" enctype="multipart/form-data" class="form-wrapper-apply" name="myForm" method="post" action="{% if offering_id %}/offering/{{offering_id}}/edit{% else %}/{{insp['url_id']}}/apply{% end %}">
          <div class="col-md-8 col-lg-9 apply-seller-form-wrapper">
            <div class="jumbotron jumbotron-container">
              <h1 class="apply-seller-main-header"><i class="icon-plane"></i> Offering Details</h1>
              <div class="panel panel-style">
                <div class="panel-heading">
                  <h3 class="panel-title ">Describe your Offering related to '{{insp['title']}}'</h3>
                </div>
                <div class="panel-body">
                  <div id="title_div">
                    {% if 'title' in errs %}
                      <font color="#ee2222">
                        <label><span>*</span> Title must consist of 5 to 200 characters.</label>
                      </font>
                    {% else %}
                      <label><span>*</span> Title</label>
                    {% end %}
                    <div class="row">
                      <div class="col-lg-12">
                      <input type="text" class="form-control" name="title"
                             {% if 'title' in errs %} style="border-color:#ee2222" {% end %}
                             placeholder="" value="{{title}}">
                      </div>
                    </div>
                  </div>
                  <div id="description_div">
                    {% if 'description' in errs %}
                      <font color="#ee2222">
                        <label><span>*</span> Tell us about your Offering (at least 10 characters)</label>
                      </font>
                    {% else %}
                      <label><span>*</span> Tell us about your Offering</label>
                    {% end %}
                    {% if __rich_front_end__ %} <div class="wysiwyg-editor"> {% end %}
                      <textarea class="form-control textarea-3" rows="12" name="description"
                                {% if 'description' in errs %} style="border-color:#ee2222" {% end %}
                                placeholder="">{{description}}</textarea>
                    {% if __rich_front_end__ %} </div> {% end %}
                  </div>
                  <div id="itinerary">
                    <label><span>*</span> Itinerary</label>
                    {% if __rich_front_end__ %} <div class="wysiwyg-editor"> {% end %}
                      <textarea class="form-control textarea-3" rows="12" name="itinerary"
                                {% if 'description' in errs %} style="border-color:#ee2222" {% end %}
                                placeholder="">{{itinerary}}</textarea>
                    {% if __rich_front_end__ %} </div> {% end %}
                  </div>
                </div>
                <div class="panel-heading" id="offering_photos">
                  <h3 class="panel-title">Add Photos</h3>
                </div>
                <div class="panel-body">
                  {% if offering_id %}
                    <div id="remove_photos_list">
                      <input type="hidden" name="remove_photos_count" value="0" id="remove_photos_count">
                    </div>
                    {% for offeringPhoto in offeringPhotos %}
                    <div id="__p_{{offeringPhoto['s3key']}}">
                      <div class="alert alert-success alert-add-wrapper clearfix">
                        <div class="col-xs-8 alert-ellipsis">
                          <div class="list-group-adjust col-xs-6 col-sm-2 col-md-2">
                            <img src="{{offeringPhoto['url']}}" class="img-responsive">
                          </div>
                        </div>
                        <div class="col-xs-4 alert-ellipsis">
                          <a href="#offering_photos" class="btn btn-default" onclick="remove_photo('{{offeringPhoto['s3key']}}')">Remove</a>
                        </div>
                      </div>
                    </div>
                    {% end %}
                  {% end %}
                  <div id="photo_list">
                    <input type="hidden" name="photos_count" value="1" id="photos_count">
                    {% include _parts/offering_edit_photo_element.html %}
                  </div>
                  <hr>
                  <a href="#offering_photos" class="add-more" onclick="more_photos()"><p>Add more photos</p></a>
                </div>

                <div class="panel-heading add-video-style" id="offering_videos">
                  <h3 class="panel-title">Add Videos</h3>
                </div>
                <div class="panel-body add-video-style">
                  {% if offering_id %}
                    <div id="remove_videos_list">
                      <input type="hidden" name="remove_videos_count" value="0" id="remove_videos_count">
                    </div>
                    {% for video in offeringVideos %}
                      {% set video_or_shot_size = 'width=158 height=280' if video['vertical'] else 'width=280 height=158' %}
                      {% if video.has_key('formats') %}
                      <div id="__v_{{video['s3key']}}">
                        <div class="alert alert-success alert-add-wrapper clearfix">
                          <div class="col-xs-8 alert-ellipsis">
                            <div class="list-group-adjust col-xs-6 col-sm-2 col-md-2">
                              <div style="min-height: 300px;">
                                <video controls id="movie" preload="metadata" width="100%" height="auto" poster="{{video['formats']['poster']}}">
                                  <source src="{{video['formats']['webm']}}" type='video/webm;codecs="vp8, vorbis"' />
                                  <source src="{{video['formats']['mp4']}}" type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'/>
                                </video>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-4 alert-ellipsis">
                            <a href="#inspiration_videos" class="btn btn-default" onclick="remove_video('{{video['s3key']}}')">Remove</a>
                          </div>
                        </div>
                      </div>
                      {% elif video.has_key('offering') %}
                      <div class="alert alert-success alert-add-wrapper clearfix">
                        <div class="col-xs-12 alert-ellipsis">
                          <div class="col-xs-12 col-sm-4 col-md-4">
                            <img src="/assets/images/icons/image_loading.png" class="img-responsive">
                          </div>
                        </div>
                      </div>
                      {% else %}
                        <p>There is a problem with your video. Please contact support.</p>
                      {% end %}
                    {% end %}
                  {% end %}

                  <div id="video_list">
                    <input type="hidden" name="videos_count" value="1" id="videos_count">
                    {% include _parts/offering_edit_video_element.html %}
                  </div>
                  <hr>
                  <a href="#offering_videos" class="add-more" onclick="more_videos()"><p>Add more videos</p></a>
                  {% if offering_id %}
                    <div id="remove_youtubes_list">
                      <input type="hidden" name="remove_youtubes_count" value="0" id="remove_youtube_count">
                    </div>
                    {% for youtube in offeringYoutubes %}
                      <div id="__y_{{youtube['id']}}">
                        <div class="alert alert-success alert-add-wrapper clearfix">
                          <div class="col-xs-8 alert-ellipsis">
                            <div class="list-group-adjust col-xs-6 col-sm-2 col-md-2">
                              <iframe width="280" height="158" src="{{youtube['url']}}" frameborder="0" allowfullscreen></iframe>
                            </div>
                          </div>
                          <div class="col-xs-4 alert-ellipsis">
                            <a href="#offering_videos" class="btn btn-default" onclick="remove_youtube('{{youtube['id']}}')">Remove</a>
                          </div>
                        </div>
                      </div>
                    {% end %}
                  {% end %}
                  <label>or submit Youtube url</label>
                  <div class="form-group" id="youtube_list">
                    <input type="hidden" name="youtube_count" value="1" id="youtube_count">
                    <input type="text" class="form-control img_youtube-icon" name="youtube_url0" placeholder="Youtube URL">
                  </div>
                  <hr>
                  <a href="#offering_videos" class="add-more" onclick="more_youtube()"><p>Submit more Youtube URLs</p></a>
                </div>
                <div class="panel-heading" id="offering_schedule">
                  <h3 class="panel-title">Schedule</h3>
                </div>
                <div class="panel-body">
                  <div class="schedule-details">
                    <div class="form-vertical form-inline">

                      <p style="font-size: 12px;">Your current timezone setting is <span style="font-style:italic;">{{timezone['current']}}</span>. Any dates and times added to the schedule will be created and displayed using this timezone. If this Offering schedule should use a different timezone, you may change your timezone setting (permanently or temporarily) using the toggle in the page footer below.</p>

                      <fieldset>
                        {% if offering_id %}
                          <div id="remove_schedules_list">
                            <input type="hidden" name="remove_schedules_count" value="0" id="remove_schedules_count">
                          </div>
                          {% for i in range(len(offeringSchedules)) %}
                            <div id="__s_{{i}}" class="row">
                              {% set temp_start_date = giveLocalScheduleDate(offeringSchedules[i]['startsAt']) %}
                              {% set temp_stop_date = giveLocalScheduleDate(offeringSchedules[i]['endsAt']) %}
                              {% set temp_start_time = giveLocalScheduleTime(offeringSchedules[i]['startsAt']) %}
                              {% set temp_stop_time = giveLocalScheduleTime(offeringSchedules[i]['endsAt']) %}
                              {% set temp_week_days = offeringSchedules[i]['repeatDays'] %}
                              {% set temp_duration = offeringSchedules[i]['durationInMinutes'] %}
                              {% set temp_readonly = 'readonly' %}
                              {% set temp_disabled = 'disabled' %}
                              {% include _parts/offering_edit_schedule.html %}
                              <div class="col-xs-12 alert-ellipsis">
                                <a href="#schedule_list" class="btn btn-default" onclick="remove_schedule({{i}})">Remove</a>
                              </div>
                              <hr>
                            </div>
                          {% end %}
                          {% set temp_start_date = '' %}
                          {% set temp_stop_date = '' %}
                          {% set temp_start_time = '' %}
                          {% set temp_stop_time = '' %}
                        {% end %}
                        <div id="schedule_list">
                          <input type="hidden" name="schedule_count" value={{len(notSavedSchedules)+1}} id="schedule_count">
                          {% for i in range(len(notSavedSchedules)) %}
                            <div id="__ns_s_{{i}}" class="row">
                              {% set temp_week_days = notSavedSchedules[i]['repeatDays'] %}
                              {% set temp_duration = notSavedSchedules[i]['duration'] %}
                              {% set temp_readonly = '' %}
                              {% set temp_disabled = '' %}
                              {% set temp_counter = '_ns_%s' % i %}
                              {% include _parts/offering_edit_schedule.html %}
                              <div class="col-xs-12 alert-ellipsis">
                                <a href="#schedule_list" class="btn btn-default" onclick="remove_not_saved_schedule({{i}})">Remove</a>
                              </div>
                              <hr>
                            </div>
                          {% end %}
                          {% set temp_week_days = '' %}
                          {% set temp_readonly = '' %}
                          {% set temp_disabled = '' %}
                          {% set temp_counter = 0 %}
                          {% set temp_duration = 0 %}
                          <div id="__ns_s_{{len(notSavedSchedules)}}" class="row">
                            <input type="hidden" name="not_saved_schedule_present0" value="yes">
                            {% include _parts/offering_edit_schedule.html %}
                            <div class="col-xs-12 alert-ellipsis">
                              <a href="#schedule_list" class="btn btn-default" onclick="remove_not_saved_schedule({{len(notSavedSchedules)}})">Remove</a>
                            </div>
                            <hr>
                          </div>
                        </div>
                        <a href="#offering_schedule" class="add-more" onclick="more_schedule(); setup_pickers(document.myForm.schedule_count.value-1)"><p>Optional: Add another schedule</p></a>
                      </fieldset>
                    </div>
                  </div>
                </div>

                <div class="panel-heading">
                  <h3 class="panel-title">Price</h3>
                </div>

                <div class="panel-body form-adjust-wrapper">
                  <div id="price_div">
                    {% if 'price' in errs %}
                      <font color="#ee2222">
                        <label><span>*</span> Price must be like "19.98"</label>
                      </font>
                    {% else %}
                      <label><span>*</span> Price</label>
                    {% end %}
                    <div class="form-inline form-adjust">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="" name="price" {% if offering_id %}value="{{numberToPrice(offeringPrice)}}" {% end %}{% if 'price' in errs %}style="border-color:#ee2222" {% end %}>
                      </div>
                      <select class="form-control sm-select" name="currency" onchange="setCurrency(this.value)">
                        {% for cur in currencies_supported %}
                          <option {% if (offering_id and cur==offeringCurrency) or cur==currency['current'] %}selected{% end %}>{{cur}}</option>
                        {% end %}
                      </select>
                    </div>
                  </div>
                </div>

                <div class="panel-heading">
                  <h3 class="panel-title">Location</h3>
                </div>

                <div class="panel-body">
                  <label>Select a location to have your customers meet you at on the day of the Offering.</label>
                  <div class="row">
                    <div class="col-lg-4 add-google-maps">
                      <input id="CustomLocationName" name="CustomLocationName" type="text" class="form-control gllpSearchField" {% if customLocationName %} value="{{customLocationName}}"{% end %}>
                      <a href="#gmaps" onclick="toggle_visibility()">
                        <img src="/assets/images/social/google_map.png" height="30px" width="30px"> or position pin using Google Maps
                      </a>
                    </div>
                  </div>
                  <fieldset class="gllpLatlonPicker" style="border:0 none;padding: 0;margin: 0; display: none;">
                    <div class="gmap-container">
                      <div class="panel-body" id="gmaps" style="display:block">
                        <div class="gllpMap">Google Maps</div>
                        <input type="hidden" class="gllpAddressComponents" name="gmapAddressComponents" {% if gmapAddressComponents %} value="{{gmapAddressComponents}}" {% end %}/>
                        <input type="hidden" class="gllpLocationName" name="gmapLocationName" {% if gmapLocationName %} value="{{gmapLocationName}}" {% end %}/>
                        <input type="hidden" class="gllpLongitude" name="gmapLongitude" {% if gmapLongitude %} value="{{gmapLongitude}}" {% end %}/>
                        <input type="hidden" class="gllpLatitude" name="gmapLatitude" {% if gmapLatitude %} value="{{gmapLatitude}}" {% end %}/>
                        <input type="hidden" class="gllpZoom" name="gmapZoom" {% if gmapZoom %} value="{{gmapZoom}}" {% end %}/>
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="panel-heading">
                  <h3 class="panel-title">More Details</h3>
                </div>
                <div class="panel-body">
                  <div id="participants_div">
                    {% if 'max_participants' in errs %}
                      <font color="#ee2222">
                        <label><span>*</span> Max No. of Participants must be positive integer</label>
                      </font>
                    {% else %}
                      <label><span>*</span> Max No. of Participants</label>
                    {% end %}
                    <div class="row">
                      <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="" name="max_participants" {% if offering_id %}value="{{max_participants}}" {% end %}{% if 'max_participants' in errs %}style="border-color:#ee2222"{% end %}>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <label>Promo Code <span class="muted">(Optional)</span></label>
                  {% if offering_id %}
                    <div id="remove_promos_list">
                      <input type="hidden" name="remove_promos_count" value="0" id="remove_promos_count">
                    </div>
                    {% for i in range(len(offeringPromos)) %}
                      <div id="__pr_{{i}}" class="row">
                        {% set temp_code = offeringPromos[i]['code'] %}
                        {% set temp_discount = numberToPercentage(offeringPromos[i]['discount_percentage']) %}
                        {% include _parts/offering_edit_promo.html %}
                        <div class="col-xs-12 alert-ellipsis">
                          <a href="#promo_list" class="btn btn-default" onclick="remove_promo({{i}})">Remove</a>
                        </div>
                        <hr>
                      </div>
                    {% end %}
                    {% set temp_code = '' %}
                    {% set temp_discount = '' %}
                  {% end %}
                  <div id="promo_list" class="row">
                    <input type="hidden" name="promo_count" value="1" id="promo_count">
                    {% include _parts/offering_edit_promo.html %}
                  </div>
                  <hr>
                  <a href="#promo_list" class="add-more" onclick="more_promo()"><p>Optional: Add another promotional code</p></a>

                </div>

                <div class="panel-heading">
                  <h3 class="panel-title">Add-ons</h3>
                </div>
                <div class="panel-body" id="add_ons">
                  {% if 'addon' in errs %}
                    <label><font color="#ee2222">Add-on Details (price must be like "19.98")</font></label>
                  {% else %}
                    <label>Add-on Details</label>
                  {% end %}
                  {% set temp_currency = currency['current'] if currency['current'] in currencies_supported else currencies_supported[0] %}
                  {% if offering_id %}
                    {% set temp_counter = 0 %}
                    {% set temp_currency = offeringCurrency %}
                    <div id="remove_addons_list">
                      <input type="hidden" name="remove_addons_count" value="0" id="remove_addons_count">
                    </div>
                    {% for i in range(len(offeringAddOns)) %}
                      <div id="__ad_{{i}}" class="row">
                        {% set temp_addon_detail = offeringAddOns[i]['addOnDetail'] %}
                        {% set temp_addon_price = numberToPrice(offeringAddOns[i]['addOnPrice']) %}
                        {% include _parts/offering_edit_addon.html %}
                        <div class="col-xs-12 alert-ellipsis">
                          <a href="#promo_list" class="btn btn-default" onclick="remove_addon({{i}})">Remove</a>
                        </div>
                        <hr>
                      </div>
                      {% set temp_counter += 1 %}
                    {% end %}
                    {% set temp_counter = 0 %}
                    {% set temp_addon_detail = '' %}
                    {% set temp_addon_price = '' %}
                  {% end %}
                  <div id="addon_list" class="row">
                    <input type="hidden" name="addon_count" value="1" id="addon_count">
                    {% include _parts/offering_edit_addon.html %}
                    <hr>
                  </div>
                  <a href="#add_ons" class="add-more" onclick="more_addon(); setCurrency(0)"><p>Optional: Add another add-on</p></a>
                </div>
              </div>
            </div>

            {% if __seller__ %}

            {% elif __seller_or_applicant__ %}
            <div class="jumbotron jumbotron-container">
              <h1 class="apply-seller-main-header"><i class="icon-edit"></i> Seller Details</h1>
              <div class="panel panel-style">
                <div class="clearfix">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label>You are currently a Seller, or have applied to be a Seller, for this inspiration.</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% else %}
            <div class="jumbotron jumbotron-container">
              <h1 class="apply-seller-main-header"><i class="icon-edit"></i> Seller Details</h1>
              <div class="panel panel-style">
                <div class="panel-heading panel-title-bg">
                  <h3 class="panel-title">Information</h3>
                </div>

                <div class="clearfix">
                  <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                      <label>{{_("Are you a company or individual?")}}</label>
                      <select class="form-control" name="account_type">
                        <option value="Individual">{{_("Individual")}}</option>
                        <option value="Company">{{_("Company")}}</option>
                      </select>
                    </div>
                    <div class="form-group radio-button-wrapper">
                      <label><span class="alert-red">*</span> Preferred Method for Booking Communications (as per <a href="{{__url_list__('Profile')}}" target="_blank">your profile</a>)</label>
                      <ul class="radio-button list-inline">
                        <li><label class="radio">
                          <input type="radio" name="optionsBookingCommunication" value="email" checked>
                          Email
                        </label></li>
                        <li><label class="radio">
                          <input type="radio" name="optionsBookingCommunication" value="phone">
                          Phone
                        </label></li>
                      </ul>
                    </div>
                    <div class="form-group radio-button-wrapper">
                      <label><span class="alert-red">*</span> Marketplace lets people request personalized photo offerings. Are you interested in providing custom offerings on request?</label>
                      <ul class="radio-button list-inline">
                        <li><label class="radio">
                          <input type="radio" name="optionsCustomInspirations" value="y">
                          Yes
                        </label></li>
                        <li><label class="radio">
                          <input type="radio" name="optionsCustomInspirations" value="n" checked>
                          No
                        </label></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-6">
                    <div class="form-group">
                      <label>{{_("No. of employees")}}</label>
                      <select class="form-control" name="no_of_employees">
                        <option value="Not more than 10">{{_("Not more than 10")}}</option>
                        <option value="11-25">11-25</option>
                        <option value="26-50">26-50</option>
                        <option value="51-100">51-100</option>
                        <option value="More than 100">{{_("More than 100")}}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>{{_("Languages Spoken by Seller")}}</label>
                      <select class="form-control" name="languages_spoken" multiple>
                        <option value="en" selected>{{_("English")}}</option>
                        <option value="fr">{{_("French")}}</option>
                        <option value="it">{{_("Italian")}}</option>
                        <option value="pl">{{_("Polish")}}</option>
                        <option value="es">{{_("Spanish")}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% end %}

            <div id="terms_div" class="jumbotron terms-and-condition">
              {% include _parts/agree_to_terms.html %}
              <p class="form-action-button">
                <button type="submit" class="btn btn-primary" name="action" value="submit">{% if offering_id %}{{_("Save Changes")}}{%else%}{{_("Apply")}}{%end%}</button>
                <button type="submit" class="btn btn-default" name="action" value="cancel">{{_("Cancel")}}</button>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div><!--end-->


    {% include "_parts/footer-locale-settings.html" %}
    {% include "_parts/footer.html" %}
    {% include "_parts/post-js.html" %}

    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="/assets/javascripts/jquery-ui-timepicker-addon.js"></script>
    <script src="/assets/javascripts/jquery-ui-sliderAccess.js"></script>
    {% if __rich_front_end__ %}
      <script src="/assets/javascripts/wysihtml5-0.3.0.js"></script>
      <script src="/assets/javascripts/bootstrap3-wysihtml5.js"></script>
      <script src="/assets/javascripts/mobiscroll.custom-2.13.0.min.js" type="text/javascript"></script>
    {% end %}
    <script src="/assets/javascripts/jasny-bootstrap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{google_api}}"></script>
    <script src="/assets/javascripts/jquery-gmaps-latlon-picker.js"></script>
    <script src="/assets/javascripts/prevent_unwanted_submission.js"></script>
    {% if __rich_front_end__ and isBootstrapLocal(lang) %}
    <script src="/assets/javascripts/locales/bootstrap-wysihtml5{{giveBootstrapLocalId(lang)}}.js"></script>
    {% end %}

    <script type="text/javascript">
    {% set temp_counter = '[_]' %}
    {% set temp_eol = '\\' %}
      <!--
        var is_touch_device = 'ontouchstart' in document.documentElement;

        function more_photos() {
          if (more_photos.counter == undefined) { more_photos.counter = 1 }
          var s = '{% include _parts/offering_edit_photo_element.html %}'.split('[_]').join(more_photos.counter);
          $("#photo_list").append(s);
          more_photos.counter++;
          $("#photos_count").val(more_photos.counter);
        };
        function more_videos() {
          if (more_videos.counter == undefined) { more_videos.counter = 1 }
          var s = '{% include _parts/offering_edit_video_element.html %}'.split('[_]').join(more_videos.counter);
          $("#video_list").append(s);
          more_videos.counter++;
          $("#videos_count").val(more_videos.counter);
        };
        function more_youtube() {
          if (more_youtube.counter == undefined) { more_youtube.counter = 1 }
          $("#youtube_list").append('<input type="text" class="form-control img_youtube-icon" name="youtube_url'+ more_youtube.counter + '" placeholder="Youtube URL">');
          more_youtube.counter++;
          $("#youtube_count").val(more_youtube.counter);
        };
        function more_schedule() {
          if (more_schedule.counter == undefined) { more_schedule.counter = {{len(notSavedSchedules)+1}} }
          var s = '<div id="__ns_s_{{temp_counter}}" class="row"> \
                   <input type="hidden" name="not_saved_schedule_present{{temp_counter}}" value="yes">\
                   {% include _parts/offering_edit_schedule.html %} \
                   <div class="col-xs-12 alert-ellipsis"> \
                     <a href="#schedule_list" class="btn btn-default" onclick="remove_not_saved_schedule({{temp_counter}})">Remove</a> \
                   </div><hr></div>'.split('{{temp_counter}}').join(more_schedule.counter);
          $("#schedule_list").append(s);
          more_schedule.counter++;
          $("#schedule_count").val(more_schedule.counter);
        };
        function more_promo() {
          if (more_promo.counter == undefined) { more_promo.counter = 1 }
          var s = '{% include _parts/offering_edit_promo.html %}'.split('[_]').join(more_promo.counter);
          $("#promo_list").append(s);
          more_promo.counter++;
          $("#promo_count").val(more_promo.counter);
        };
        function more_addon() {
          if (more_addon.counter == undefined) { more_addon.counter = 1 }
          var s = '{% include _parts/offering_edit_addon.html %}'.split('[_]').join(more_addon.counter);
          $("#addon_list").append(s);
          more_addon.counter++;
          $("#addon_count").val(more_addon.counter);
        };
        function remove_schedule(schedule_id) {
          if (remove_schedule.counter == undefined) { remove_schedule.counter = 1 }
          $("#remove_schedules_list").append('<input type="hidden" name="remove_schedule' + (remove_schedule.counter-1)  + '" value="' + schedule_id + '">');
          $("#remove_schedules_count").val(remove_schedule.counter++);
          $("#__s_" + schedule_id).remove();
        };
        function remove_not_saved_schedule(schedule_id) {
          $("#__ns_s_" + schedule_id).remove();
        };
        function remove_promo(promo_id) {
          if (remove_promo.counter == undefined) { remove_promo.counter = 1 }
          $("#remove_promos_list").append('<input type="hidden" name="remove_promo' + (remove_promo.counter-1)  + '" value="' + promo_id + '">');
          $("#remove_promos_count").val(remove_promo.counter++);
          $("#__pr_" + promo_id).remove();
        };
        function remove_addon(addon_id) {
          if (remove_addon.counter == undefined) { remove_addon.counter = 1 }
          $("#remove_addons_list").append('<input type="hidden" name="remove_addon' + (remove_addon.counter-1)  + '" value="' + addon_id + '">');
          $("#remove_addons_count").val(remove_addon.counter++);
          $("#__ad_" + addon_id).remove();
        };
        function remove_photo(photo_id) {
          if (remove_photo.counter == undefined) { remove_photo.counter = 1 }
          $("#remove_photos_list").append('<input type="hidden" name="remove_photo' + (remove_photo.counter-1)  + '" value="' + photo_id + '">');
          $("#remove_photos_count").val(remove_photo.counter++);
          $("#__p_" + photo_id).remove();
        };
        function remove_video(video_id) {
          if (remove_video.counter == undefined) { remove_video.counter = 1 }
          $("#remove_videos_list").append('<input type="hidden" name="remove_video' + (remove_video.counter-1)  + '" value="' + video_id + '">');
          $("#remove_videos_count").val(remove_video.counter++);
          $("#__v_" + video_id).remove();
        };
        function remove_youtube(youtube_id) {
          if (remove_youtube.counter == undefined) { remove_youtube.counter = 1 }
          $("#remove_youtubes_list").append('<input type="hidden" name="remove_youtube' + (remove_youtube.counter-1)  + '" value="' + youtube_id + '">');
          $("#remove_youtubes_count").val(remove_youtube.counter++);
          $("#__y_" + youtube_id).remove();
        };
        function setCurrency(currency) {
          if (setCurrency.currency == undefined) {
            setCurrency.currency = "{{currency['current']}}";
          }
          if (currency != 0) {
            setCurrency.currency = currency;
          }
          for (i = 0; i < parseInt($("#addon_count").val() + 1); i++) {
            $("#addon_currency" + i.toString()).val(setCurrency.currency);
          }
        };

      {% if __rich_front_end__ %}
      function update_mobiscroll_device_params(scroll_id, params) {
        var all_params = {};
        if(navigator.userAgent.match(/iPad/i)){
          all_params = $.extend({}, params, {
              theme: 'ios7',
              display: 'bottom',
              mode: 'scroller'});
        }

        else if(navigator.userAgent.match(/iPhone/i)){
          all_params = $.extend({}, params, {
              theme: 'ios7',
              display: 'bottom',
              mode: 'scroller'});
        }

        else if(navigator.userAgent.match(/Android/i)){
          all_params = $.extend({}, params, {
              theme: 'android',
              display: 'bottom',
              mode: 'scroller'});
        }

        else if(navigator.userAgent.match(/BlackBerry/i)){
          all_params = $.extend({}, params, {
              theme: 'android',
              display: 'bottom',
              mode: 'scroller'});
        }
        else if (is_touch_device) {
          all_params = $.extend({}, params, {
              theme: 'ios7',
              display: 'bottom',
              mode: 'scroller'});
        }
        else {
          all_params = $.extend({}, params, {
              theme: 'bootstrap',
              display: 'modal',
              mode: 'scroller'});
        }
        return all_params;
      };
      function setup_date_scroller(scroller_id, params) {
        if (typeof(params) === 'undefined') params = {};
        var now = new Date();
        var all_params = update_mobiscroll_device_params(scroller_id, params);
        all_params.minDate = new Date(now.getFullYear(), now.getMonth(), now.getDate() + 1);
        all_params.dateFormat = 'yy-mm-dd';
        $(scroller_id).mobiscroll().date(all_params);
      };
      function setup_time_scroller(scroller_id, params) {
        if (typeof(params) === 'undefined') params = {};
        var all_params = update_mobiscroll_device_params(scroller_id, params);
        all_params.stepMinute = 15;
        $(scroller_id).mobiscroll().time(all_params);
      };
      function setup_pickers(pickers_postfix) {
        setup_date_scroller('#date_scroller_e' + pickers_postfix);
        setup_date_scroller('#date_scroller_f' + pickers_postfix);
        setup_time_scroller('#time_scroller_e' + pickers_postfix);
        setup_time_scroller('#time_scroller_f' + pickers_postfix);
      }

      setup_pickers(0);

      function convert12hTo24hTime(string12h) {
        var hours = Number(string12h.match(/^(\d+)/)[1]);
        var minutes = Number(string12h.match(/:(\d+)/)[1]);
        var am_pm = string12h.match(/\s(.*)$/)[1];
        if (am_pm == "PM" && hours<12) hours = hours+12;
        if (am_pm == "AM" && hours==12) hours = hours-12;
        var sHours = hours.toString();
        var sMinutes = minutes.toString();
        if (hours<10) sHours = "0" + sHours;
        if (minutes<10) sMinutes = "0" + sMinutes;
        return sHours + ":" + sMinutes;
      }

      function convert12hToDate(string12h) {
        var string24h = convert12hTo24hTime(string12h);
        var e = string24h.split(':');
        return new Date(2015, 1, 1, e[0], e[1]);
      }

      function jsDate(dataString) {
        var e = dataString.split('-');
        if (e.length == 3) return new Date(e[0], e[1], e[2]);
        return null;
      }

      function start_time_eq(time_value, picker_postfix) {
        $('#time_scroller_f' + picker_postfix).mobiscroll(
            'option',
            'invalid',
            [{start: '00:00', end: convert12hTo24hTime(time_value)}]);
      }

      $('.textarea-3').wysihtml5({
        "image": false,
        {% if isBootstrapLocal(lang) %} locale: "{{giveBootstrapLocalId(lang)[1:]}}", {% end %}
      });
      {% end %}

      $(document).ready(function() {
        $(".gllpLatlonPicker").each(function() {
            $(this).show();
            (new window.GMapsLatLonPicker()).init( $(this) );
          });
        {% if errs %}
        {% set scroll_to = {'title': 'title_div',
                            'description': 'description_div',
                            'itinerary': 'itinerary_div',
                            'terms': 'terms_div',
                            'datetime': 'datetime_div',
                            'price': 'price_div',
                            'max_participants': 'participants_div',
                            'addon': 'add_ons'}[errs[0]] %}
        $(document).scrollTop($('#{{scroll_to}}').offset().top);
        {% end %}

        {% for i in range(len(notSavedSchedules)) %}
          {% if __rich_front_end__ %}
          setup_date_scroller('#date_scroller_e{{'_ns_%s' % i}}', {defaultValue: jsDate('{{notSavedSchedules[i]['start_date']}}')});
          setup_date_scroller('#date_scroller_f{{'_ns_%s' % i}}', {defaultValue: jsDate('{{notSavedSchedules[i]['end_date']}}')});
          setup_time_scroller('#time_scroller_e{{'_ns_%s' % i}}', {defaultValue: convert12hToDate('{{notSavedSchedules[i]['start_time']}}')});
          setup_time_scroller('#time_scroller_f{{'_ns_%s' % i}}', {defaultValue: convert12hToDate('{{notSavedSchedules[i]['end_time']}}')});
          {% end %}
          $('#date_scroller_e{{'_ns_%s' % i}}').val('{{notSavedSchedules[i]['start_date']}}');
          $('#date_scroller_f{{'_ns_%s' % i}}').val('{{notSavedSchedules[i]['end_date']}}');
          $('#time_scroller_e{{'_ns_%s' % i}}').val('{{notSavedSchedules[i]['start_time']}}');
          $('#time_scroller_f{{'_ns_%s' % i}}').val('{{notSavedSchedules[i]['end_time']}}');
        {% end %}
      });

      var mapInitialized = false;
      function toggle_visibility() {
        if (!mapInitialized) {
          $(".gllpLatlonPicker").each(function() {
            $(this).show();
            (new window.GMapsLatLonPicker()).init( $(this) );
          });
          mapInitialized = true;
        } else {
          $(".gllpLatlonPicker").each(function() {
            if ($(this).css("display")=="block") {
              $(this).hide();
            } else {
              $(this).show();
            }
          });
        }
      };
    -->
    </script>

  </body>
</html>
