<!DOCTYPE html>

{% set page_title = "Translation of a page" %}
{% set page_class = "" %}
{% set meta_data = {"description": "",
                    "keywords": "",
                    "creator": "Snozberry Media",
                    }
%}

<html lang="{{lang}}" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {% include "_parts/head.html" %}
    <link href="/assets/css/dashboard.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    {% include "_parts/top-navigation.html" %}

    <div class="dashboard-wrapper">

      {% include "_parts/translate-page-top-nav.html %}

      <div class="tab-content">

        <div class="tab-pane active" id="{% if __seller_or_applicant__ %}tab4{% else %}tab3{% end %}">
          <div class="container">
            <div class="row">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Original Paragraph {{template_language}} ({{template_lang}})</th>
                  <th>Translation {{translation_language}} ({{translation_lang}})</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for item in translations %}
                <tr>
                  <td>{{item['orig']}}</td>
                  <td>{{item['trans']}}</td>
                  <td>
                    {% if item['base_module'] %}
                    <a href="{{__url_list__('AdminTranslation', template_lang, item['base_module'], item['base_word'], translation_lang)}}">
                      <button class="btn btn-primary btn-xs" type="button">Adjust manually</button>
                    </a>
                    {% end %}
                  </td>
                </tr>
                {% end %}
              </tbody>
            </table>
            </div>

          </div>
        </div>

      </div><!--tab-content-->
    </div><!--dashboard wrapper-->

    {% include "_parts/footer-locale-settings.html" %}
    {% include "_parts/footer.html" %}
    {% include "_parts/post-js.html" %}

  </body>
</html>
