<div class="col-lg-2">
  <div class="list-group">
    <a href="{{__url_list__('About')}}" class="list-group-item
      {%if _how_it_works_nav_active_=='about' %}active{%end%}
      ">{{_("About")}} Marketplace</a>

    <a href="{{__url_list__('HowItWorks')}}" class="list-group-item
      {%if _how_it_works_nav_active_=='how-it-works' %}active{%end%}
      ">{{_("How it works")}}</a>

    <a href="{{__url_list__('AboutTeam')}}" class="list-group-item
      {%if _how_it_works_nav_active_=='team' %}active{%end%}
      ">{{_("Team")}}</a>

    <a href="{{__url_list__('AboutSellers')}}" class="list-group-item
      {%if _how_it_works_nav_active_=='sellers' %}active{%end%}
      ">{{_("Sellers")}}</a>

    <a href="{{__url_list__('AboutInspirations')}}" class="list-group-item
      {%if _how_it_works_nav_active_=='inspirations' %}active{%end%}
      ">{{_("Inspirations")}}</a>

    <a href="{{__url_list__('AboutFaq')}}" class="list-group-item
      {%if _how_it_works_nav_active_=='faq' %}active{%end%}
      ">{{_("FAQ")}}</a>
  </div>
</div>
